@using InfinityLibrary.Entities
@using InfinityLibrary.Shared
@using SimpleJson
@inject HttpClient Http
@page "/"

@if (Users is null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var user in Users)
        {
            <li>@user.FirstName @user.LastName</li>
        }
    </ul>
}

@functions
{

    private User[] Users { get; set; }
    private Book[] Books { get; set; }

    protected override async Task OnInitAsync()
    {
        var usersJson = await Http.GetStringAsync("api/Users");
        Users = SimpleJson.DeserializeObject<User[]>(usersJson, new UserSerializationStrategy());

        var booksJson = await Http.GetStringAsync("api/Books");
        Books = SimpleJson.DeserializeObject<Book[]>(booksJson, new BookSerializationStrategy());
    }

}
