@inject HttpClient Http
@page "/"


@if (Books is null)
{
    <p>Loading...</p>
}
else
{
    <a class="btn btn-success mb-3" href="AddBook" role="button"><span class="oi oi-plus" aria-hidden="true"></span> Add new book</a>
    <ul>
        @foreach (var book in Books)
        {
            <hr />
            <li>
                <img src="@((book.ThumbnailUrl == "None") ? MissingImageUrl : book.ThumbnailUrl)" height="100" width="80" />
                <b>@book.Title</b> by @book.Author
            </li>
        }
    </ul>
}

@functions
{
    
    protected User[] Users { get; set; }
    protected Book[] Books { get; set; }


    private string MissingImageUrl = "https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw_400x400.jpg";

    protected override async Task OnInitAsync()
    {
        var usersJson = await Http.GetStringAsync("api/Users");
        Users = SimpleJson.DeserializeObject<User[]>(usersJson, new UserSerializationStrategy());

        var booksJson = await Http.GetStringAsync("api/Books");
        Books = SimpleJson.DeserializeObject<Book[]>(booksJson, new BookSerializationStrategy());
    }

}
