@using InfinityLibrary.Entities
@inject HttpClient Http
@page "/"

@if (Users is null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var user in Users)
        {
            <li>@user.FirstName @user.LastName</li>
        }
    </ul>
}

@functions
{

    private User[] Users { get; set; }
    private Book[] Books { get; set; }

    protected override async Task OnInitAsync()
    {
        Users = await Http.GetJsonAsync<User[]>("api/Users");
        Books = await Http.GetJsonAsync<Book[]>("api/Books");
    }

}
